html{
    height: 100%;

}
body{
    height: 100%;
    margin: 0;
}

main{
    height: calc(100% - 150px);
}
.container{
    background-color:darkorange;
    height: 100%;
}

.chat-screen_bar{
    background-color: #fff;
    height: 150px;
    padding: 20px;
    box-sizing: border-box;
}
.user{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.user_pic{
    width: 100px;
    height: 100px;
    background-color:darkorange;
    border-radius: 30px;
}
.user_column:nth-child(2){
    margin-left: 50px;
}
.user_nick{font-weight: 900;}
.user_count{color:#333;}


/* 말풍선추가 */
ul{
    margin: 0;
    padding: 0;
}

li{
    position: relative;
    list-style: none;
    display: block;
    margin: 40px;
    box-sizing: border-box;
}

li span{
    position: relative;
    padding: 20px;
    max-width: 300px;
    background-color: green;
    text-align: left;
    border-radius: 20px;
    line-height: 2;
    color:white;
}

li span:after{    
    content: '';
    display: inline-block;
    position: absolute;
    bottom:12px;
    right: -17px;
    transform: rotate(277deg);
    width: 0px;
    height: 0px;
    border-top: 13px solid green;
    border-left:15px solid transparent;
    border-right:15px solid transparent;
}

.receive{
    text-align: right;
}
.receive span{
    right: 0;
    position: relative;
    text-align: right;
    background-color: lightgreen;
}
.receive span:after{
    left: -17px;
    transform: rotate(-277deg);
    border-top: 13px solid lightgreen;
}

form{
    width: 100%;
    height: 150px;
}
section{
    width: 100%;
    height: 100%;
}
textarea{
    float: left;
    border:none;
    width: 89% !important;
    height: 100%;
    border:none;
}
input{
float: right;
border:1px solid green;
box-sizing: border-box;
font-size: 25px;
font-weight: 900;
background-color:darkorange;
    width: 10%;
height: 100%;
padding: 0;
}
input:hover{
    background-color: blue;
    color:white;
}